<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chara1_top_3.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{64,144},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_top_2.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{32,144},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_top_1.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{0,144},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_right_3.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{64,96},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_right_2.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{32,96},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_right_1.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{0,96},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_left_3.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{64,48},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_left_2.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{32,48},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_left_1.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{0,48},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_bottom_3.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{64,0},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_bottom_2.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{32,0},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_bottom_1.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>chara1_attack_3.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{128,192},{64,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,96}}</string>
			<key>sourceSize</key>
			<string>{64,96}</string>
		</dict>
		<key>chara1_attack_2.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{64,192},{64,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,96}}</string>
			<key>sourceSize</key>
			<string>{64,96}</string>
		</dict>
		<key>chara1_attack_1.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{0,192},{64,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,96}}</string>
			<key>sourceSize</key>
			<string>{64,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>chara1.png</string>
		<key>size</key>
		<string>{128,288}</string>
		<key>textureFileName</key>
		<string>chara1.png</string>
	</dict>
</dict>
</plist>
